<section class="block-preview">
  <div class="cover-banner" style="background-image: url(https://images4.alphacoders.com/988/988128.jpg)"></div>
</section>
<section class="browse-places">
  <div class="container items">
    <div class="row">
      <div class="col-md-2">
        <div class="owl-carousel">
          <div class="item">
            <%= image_tag 'brower_coffee.png', class:'carousel-icon' %>
          </div>
          <div class="place">
            <h4>Cà phê</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="owl-carousel">
          <div class="item">
            <%= image_tag 'brower_drink.png', class:'carousel-icon' %>
          </div>
          <div class="place">
            <h4>Đồ uống</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="owl-carousel">
          <div class="item">
            <%= image_tag 'brower_cake.png', class:'carousel-icon' %>
          </div>
          <div class="place">
            <h4>Món ăn</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="owl-carousel">
          <div class="item">
            <%= image_tag 'brower_gps.png', class:'carousel-icon' %>
          </div>
          <div class="place">
            <h4>Lân cận</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="owl-carousel">
          <div class="item">
            <%= image_tag 'brower_open.png', class:'carousel-icon' %>
          </div>
          <div class="place">
            <h4>Mới mở</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="owl-carousel">
          <div class="item">
            <%= image_tag 'brower_even.png', class:'carousel-icon' %>
          </div>
          <div class="place">
            <h4>Sự kiện sắp tới</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--how-to-work start-->
<section class="how-to-work">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="work-item">
          <div class="work-img">
            <%= image_tag 'icon3.png' %>
          </div>
          <div class="work-text">
            <h4><%= t ".worktext1"%></h4>
            <p><%= t ".worktext2"%></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="work-item">
          <div class="work-img">
           <%= image_tag 'icon4.png' %>
         </div>
         <div class="work-text">
          <h4>Chọn bữa ăn</h4>
          <p>Hãy thử hương vị mà bạn chưa bao giờ trải nghiệm.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="work-item">
        <div class="work-img">
         <%= image_tag 'icon5.png' %>
       </div>
       <div class="work-text">
        <h4>Giao hàng</h4>
        <p>Chúng tôi không bao giờ chậm trễ dù chỉ 1 phút.</p>
      </div>
    </div>
  </div>
</section>
<section class="order-food-online">
  <div class="container footter">
    <div class="row">
      <div class="col-md-12">
        <div class="new-heading">
          <h1> Danh sách bữa ăn </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <% @products.each do |product|%>
        <%= render 'product', product: product %>
      <% end %>
    </div>
  </div>
</section>