<div class="container bench">
    <h2> Chỉnh sửa </h2>
    <%= form_for @user, url: user_path(@user)  do |f| %>
        <div class="form-group">
            <label>Tên tôi </label>
            <%= f.text_field :name , placeholder:"Nhập tên tôi", class:"video-form",required: 'true' %>
        </div>
        <div class="form-group">
            <label>Email</label>
            <%= f.text_field :email , placeholder:"Nhập email", class:"video-form" ,required: 'true'%>
        </div>
        <div class="form-group form-check-inline">
            <%= f.label :Made, class: "form-check-label"%>:
            <%= f.label :Men, class: "form-check-label"%>
            <%= f.radio_button :gender, "women", class:"form-check-input"%>
            <%= f.label :Women, class: "form-check-label"%>
            <%= f.radio_button :gender, "men", class:"form-check-input"%>
            <%= f.label :Other, class: "form-check-label"%>
            <%= f.radio_button :gender, "other", class:"form-check-input"%>
        </div>
        <div class="form-group">
            <%= f.label :Birth%>
            <%= f.date_field :birth, class: 'form-control'%>
        </div>

        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit "Cập nhật", class: "btn btn-primary" %>
    <% end %>
</div>