<div class="recover_password">
  <h2>Quên mật khẩu?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"col-lg-3 col-md-6 col-12 video-form" %>
    <div class="actions">
      <%= f.submit "Gửi cho tôi hướng dẫn đặt lại mật khẩu", class:" col-lg-2 col-md-6 col-12 login-btn btn-link" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>