<div class="container bench">
  <h2> Tạo sản phẩm </h2>
  <%= form_for @product, url:admin_category_products_path(@category)do |f| %>
  <%# [:admin, @category.products] %>
  <div class="form-group">
    <label>Tên sản phẩm</label>
    <%= f.text_field :name_product , placeholder:"Nhập tên sản phẩm", class:"form-control",required: 'true' %>
  </div>
  <div class="form-group">
    <label>Thông tin</label>
    <%= f.text_area :information ,  placeholder:"Nhập mô tả", class:"form-control",required: 'true'%>
  </div>
  <div class="form-group">
    <label>Giá</label>
    <%= f.text_field :price , placeholder:"Nhập giá sản phẩm", class:"form-control" ,required: 'true'%>
  </div>
  <div class="form-group">
    <label>Thể loại</label>
    <%= f.select :kind, Product.kinds.keys , { class: 'form-control'}%>
  </div>
  <%= f.hidden_field :category_id, value: @category.id %>
  <h5>Thêm hình ảnh cho sản phẩm</h5>
  <div class="custom-file">
    <%= f.file_field :images , multiple: true %>
  </div>
  <%= f.submit "Create product", class: "btn btn-primary" %>
  <% end %>
</div>