  <!--header start-->
  <header id="header" class="default">
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="topbar-left text-center text-md-left">
              <ul class="list-inline">
                <li> <a href="#"> Contact </a></li>
                <li> <a href="#"> About Us </a></li>
                <li> <a href="#"> Blog </a></li>                      
                <li> <a href="#"> Become a Partner </a></li>   
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="topbar-right text-center text-md-right">
              <ul class="list-inline">
                <li><a href="#"><i class="far fa-calendar-alt"></i>Booking</a> </li>
                <li><a href="#"><i class="far fa-bookmark"></i>Bookmarks </a></li>                    
                <li id="quantity-cart-item">
                  <%= link_to carts_path do %>
                    <i class="fas fa-shopping-cart"></i>
                    Food Orders 
                    <span class="badge badge-pill badge-warning">
                      <%= link_to "#{current_cart.cart_items.size}", carts_path  %>
                    </span>
                  <% end %>
                </li>
                <% if signed_in? %>                                       
                  <li class="nav-item dropdown">
                    <a  class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i><%= current_user.name%><i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                      <%= link_to "My Profile", user_path(current_user.id), class:"dropdown-item"%>
                      <a class="dropdown-item" href="#"> Setting</a>
                      <%= button_to logout_path,  method: "delete", class:"dropdown-item" do%>
                        Logout <i class="fa fa-sign-out"></i> 
                      <% end %>
                    </div>
                  </li>   
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'Login' , login_path, class:"nav-link" %>
                  </li>
                <% end %>              
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="menu-left text-center text-md-left">
              <div class="logo-box">
                <%= link_to root_path do %>
                  <%= image_tag 'logo1.jpg', class:"logo" %> 
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-sm-12 col-xs-12"> 
            <div class="menu-items">
              <nav class="navbar navbar-expand-lg navbar-light menu-right">                    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </header>
  <!--header end-->